In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,E0,23/10/2022,14:00,Leeds,Fulham,2,3,A,1,1,...,2.39,-0.50,2.07,1.83,2.11,1.83,2.14,1.86,2.08,1.81
112,E0,23/10/2022,14:00,Southampton,Arsenal,1,1,D,0,1,...,2.24,1.25,1.83,2.07,1.88,2.05,1.88,2.13,1.84,2.04
113,E0,23/10/2022,14:00,Wolves,Leicester,0,4,A,0,2,...,1.88,-0.25,2.04,1.86,2.07,1.87,2.09,1.90,2.02,1.85
114,E0,23/10/2022,16:30,Tottenham,Newcastle,1,2,A,0,2,...,1.92,-0.25,1.94,1.96,1.93,1.99,1.96,2.03,1.92,1.95
115,E0,24/10/2022,20:00,West Ham,Bournemouth,2,0,H,1,0,...,1.90,-1.00,2.11,1.79,2.12,1.83,2.14,1.85,2.06,1.81

In [4]:
epl = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [5]:
epl

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,E0,23/10/2022,14:00,Leeds,Fulham,2,3,A,1,1,...,2.39,-0.50,2.07,1.83,2.11,1.83,2.14,1.86,2.08,1.81
112,E0,23/10/2022,14:00,Southampton,Arsenal,1,1,D,0,1,...,2.24,1.25,1.83,2.07,1.88,2.05,1.88,2.13,1.84,2.04
113,E0,23/10/2022,14:00,Wolves,Leicester,0,4,A,0,2,...,1.88,-0.25,2.04,1.86,2.07,1.87,2.09,1.90,2.02,1.85
114,E0,23/10/2022,16:30,Tottenham,Newcastle,1,2,A,0,2,...,1.92,-0.25,1.94,1.96,1.93,1.99,1.96,2.03,1.92,1.95
115,E0,24/10/2022,20:00,West Ham,Bournemouth,2,0,H,1,0,...,1.90,-1.00,2.11,1.79,2.12,1.83,2.14,1.85,2.06,1.81

In [6]:
epl.dropna()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,E0,23/10/2022,14:00,Leeds,Fulham,2,3,A,1,1,...,2.39,-0.50,2.07,1.83,2.11,1.83,2.14,1.86,2.08,1.81
112,E0,23/10/2022,14:00,Southampton,Arsenal,1,1,D,0,1,...,2.24,1.25,1.83,2.07,1.88,2.05,1.88,2.13,1.84,2.04
113,E0,23/10/2022,14:00,Wolves,Leicester,0,4,A,0,2,...,1.88,-0.25,2.04,1.86,2.07,1.87,2.09,1.90,2.02,1.85
114,E0,23/10/2022,16:30,Tottenham,Newcastle,1,2,A,0,2,...,1.92,-0.25,1.94,1.96,1.93,1.99,1.96,2.03,1.92,1.95
115,E0,24/10/2022,20:00,West Ham,Bournemouth,2,0,H,1,0,...,1.90,-1.00,2.11,1.79,2.12,1.83,2.14,1.85,2.06,1.81